<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-app="app">
    <div class="header">
        <div class="container">
            <div class="header-grids">
                <div class="logo">
                    <h1><a href="~/airline/index"><span>Airline Reservation</span></a></h1>
                </div>
                <!--navbar-header-->
                <div class="header-dropdown">
                    <div class="emergency-grid">
                        <ul>
                            <li>Contract : </li>
                            <li class="call">+94 8822999</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="nav-top" ng-controller="layout.controller">
                <div class="top-nav">
                    <span class="menu"><img src="~/Template/images/menu.png" alt=""></span>
                    <ul class="nav1">
                        <li ng-class="menuClass('/airline/index')"><a href="~/airline/index" >Flights</a></li>
                        <li ng-class="menuClass('/booking/index')"><a href="~/booking/index">Booking</a></li>
                        <li ng-class="menuClass('/flightdetails/index')"><a href="~/flightdetails/index">Flight Details</a></li>
                        <li ng-class="menuClass('/passenger/index')"><a href="~/passenger/index">Passenger</a></li>
                        <li ng-class="menuClass('/login/securityinfo')"><a href="~/login/securityinfo">Admin</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="dropdown-grids">
                    <div id="loginContainer">
                        <a id="loginButton" class=""><span>Login</span></a>
                        <div id="loginBox" style="display: none;">
                            <form id="loginForm">
                                <div class="login-grids">
                                    <div class="login-grid-left">
                                        <fieldset id="body">
                                            <fieldset>
                                                <label for="email">Email Address</label>
                                                <input type="text" name="email" id="email">
                                            </fieldset>
                                            <fieldset>
                                                <label for="password">Password</label>
                                                <input type="password" name="password" id="password">
                                            </fieldset>
                                            <input type="submit" id="login" value="Sign in">
                                            <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                        </fieldset>
                                        <span><a href="#">Forgot your password?</a></span>
                                        <div class="or-grid">
                                            <p>OR</p>
                                        </div>
                                        <div class="social-sits">
                                            <div class="facebook-button">
                                                <a href="#">Connect with Facebook</a>
                                            </div>
                                            <div class="chrome-button">
                                                <a href="/account/external?provider=Google">Connect with Google</a>
                                            </div>
                                            <div class="button-bottom">
                                                <p>New account? <a href="signup.html">Signup</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>*@

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        @*<hr />*@
    </div>
    <div class="footer">
        <!-- container -->
        <div class="container">
            <div class="footer-top-grids">
                <div class="footer-grids">
                    <div class="col-md-3 footer-grid">
                        <h4>Our Products</h4>
                        <ul>
                            <li><a href="index.html">Flight Schedule</a></li>
                            <li><a href="flights-hotels.html">City Airline Routes</a></li>
                            <li><a href="index.html">International Flights</a></li>
                            <li><a href="hotels.html">International Hotels</a></li>
                            <li><a href="bus.html">Bus Booking</a></li>
                            <li><a href="index.html">Domestic Airlines</a></li>
                            <li><a href="holidays.html">Holidays Trip</a></li>
                            <li><a href="hotels.html">Hotel Booking</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="terms.html">Terms &amp; Conditions</a></li>
                            <li><a href="privacy.html">Privacy </a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="booking.html">Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4>Travel Resources</h4>
                        <ul>
                            <li><a href="holidays.html">Holidays Packages</a></li>
                            <li><a href="weekend.html">Weekend Getaways</a></li>
                            <li><a href="index.html">International Airports</a></li>
                            <li><a href="index.html">Domestic Flights Booking</a></li>
                            <li><a href="booking.html">Customer Support</a></li>
                            <li><a href="booking.html">Cancel Bookings</a></li>
                            <li><a href="booking.html">Print E-tickets</a></li>
                            <li><a href="booking.html">Customer Forums</a></li>
                            <li><a href="booking.html">Make a Payment</a></li>
                            <li><a href="booking.html">Complete Booking</a></li>
                            <li><a href="booking.html">Assurance Claim</a></li>
                            <li><a href="booking.html">Retail Offices</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4>More Links</h4>
                        <ul class="chf_footer_list">
                            <li><a href="#">Flights Discount Coupons</a></li>
                            <li><a href="#">Domestic Airlines</a></li>
                            <li><a href="#">Indigo Airlines</a></li>
                            <li><a href="#">Air Asia</a></li>
                            <li><a href="#">Jet Airways</a></li>
                            <li><a href="#">SpiceJet</a></li>
                            <li><a href="#">GoAir</a></li>
                            <li><a href="#">Air India</a></li>
                            <li><a href="#">Domestic Flight Routes</a></li>
                            <li><a href="#">Indian City Flight</a></li>
                            <li><a href="#">Flight Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- news-letter -->
                <div class="news-letter">
                    <div class="news-letter-grids">
                        <div class="col-md-4 news-letter-grid">
                            <p>Toll Free No : <span>+94 8822999</span></p>
                        </div>
                        <div class="col-md-4 news-letter-grid">
                            <p class="mail">Email : <a href="">lamns1995@gmail.com</a></p>
                        </div>
                        <div class="col-md-4 news-letter-grid">
                            <form>
                                <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- //news-letter -->
            </div>
        </div>
        <!-- //container -->
    </div>
    <div class="footer-bottom-grids">
        <!-- container -->
        <div class="container">
            <div class="footer-bottom-top-grids">
                <div class="col-md-4 footer-bottom-left">
                    <h4>Download our mobile Apps</h4>
                    <div class="d-apps">
                        <ul>
                            <li><a href="#"><img src="~/Template/images/app1.png" alt=""></a></li>
                            <li><a href="#"><img src="~/Template/images/app2.png" alt=""></a></li>
                            <li><a href="#"><img src="~/Template/images/app3.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 footer-bottom-left">
                    <h4>We Accept</h4>
                    <div class="a-cards">
                        <ul>
                            <li><a href="#"><img src="~/Template/images/c1.png" alt=""></a></li>
                            <li><a href="#"><img src="~/Template/images/c2.png" alt=""></a></li>
                            <li><a href="#"><img src="~/Template/images/c3.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 footer-bottom-left">
                    <h4>Follow Us</h4>
                    <div class="social">
                        <ul>
                            <li><a href="#" class="facebook"> </a></li>
                            <li><a href="#" class="facebook twitter"> </a></li>
                            <li><a href="#" class="facebook chrome"> </a></li>
                            <li><a href="#" class="facebook dribbble"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="copyright">
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Lam Nguyen Son</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
